@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.VaccinationEducation>


@if (User.IsInRole("Patient"))
{
}

<div class="container p-3">
    <div class="row pt-4">
        @* <div class="col-6">
            <h2 class="text-primary">Learn More About Vaccination</h2>
        </div> *@
        <div class="col-6 text-end">
            <a asp-controller="Vaccs" asp-action="Education" class="btn btn-primary"><i class="bi bi-plus-circle"></i>LEARN MORE ABOUT VACCINATION</a>
        </div>
    </div>
    <br />
    <div>
        <form method="post" asp-action="VaccineFeedback">
            <div class="border p-3 #FBD603 bg-info">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>@*validation*@
                <div class="form-group row">
                    <div class="card-header bg-primary">

                        <h3 class="card-title text-white mt-2" id="exampleModalLabel">VACCINATION EDUCATION</h3>
                    </div>
                    <div class="col-md-6">
                        <a class="sidebar-brand" href="index.html">
                            <span class="align-middle"><img class="bg" width="250" src="~/_Images/Vaccs/Musk.jpg" alt="#" /></span>
                            <h3>Wear a mask in public when you cannot keep at distance </h3>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="sidebar-brand" href="index.html">
                            <span class="align-middle"><img class="bg" width="250" src="~/_Images/Vaccs/SocialDistance.jpg" alt="#" /></span>
                            <h3>Practice Social Distancing </h3>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="sidebar-brand" href="index.html">
                            <span class="align-middle"><img class="bg" width="250" src="~/_Images/Vaccs/WashHands.jpg" alt="#" /></span>
                            <h3>Wash your hands regularly </h3>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="sidebar-brand" href="index.html">
                            <span class="align-middle"><img class="bg" width="250" src="~/_Images/Vaccs/Vacc.jpg" alt="#" /></span>
                            <h3>Learn how to get vaccinated </h3>
                        </a>
                    </div>

                   
        
                </div>
 
        </form>
    </div>

    <br />
    @if (Model.Count() > 0)
    {
        @*<table class="table table-bordered table-striped" style="width:100%">*@
        <table class="table table-info table-hover">

            <thead>
                <tr>
                    <th>
                        Vaccine1
                    </th>
                    <th>
                        Vaccine2
                    </th>
                    <th>
                        Vaccine3
                    </th>
                    <th>
                        Vaccine4
                    </th>
                    <th>
                        Description1
                    </th>
                    <th>
                        Description2
                    </th>
                    <th>
                        Description3
                    </th>
                    <th>
                        Description4
                    </th>
                    <th>
                        Purpose1
                    </th>
                    <th>
                        Purpose2
                    </th>
                    <th>
                        Purpose3
                    </th>
                    <th>
                        Purpose4
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var Edu in Model)
                {
                    <tr>
                        <td width="20%">@Edu.Vaccine1</td>
                        <td width="20%">@Edu.Vaccine2</td>
                        <td width="20%">@Edu.Vaccine3</td>
                        <td width="20%">@Edu.Vaccine4</td>
                        <td width="20%">@Edu.Description1</td>
                        <td width="20%">@Edu.Description2</td>
                        <td width="20%">@Edu.Description3</td>
                        <td width="20%">@Edu.Description4</td>
                        <td width="20%">@Edu.Purpose1</td>
                        <td width="20%">@Edu.Purpose2</td>
                        <td width="20%">@Edu.Purpose3</td>
                        <td width="20%">@Edu.Purpose4</td>
                        
                       

                        <td>

                            else
                            {
                            <a asp-controller="Vaccs" asp-action="Update" asp-route-ID="@Edu.EducationID" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i>Update</a>

                            <a asp-controller="Vaccs" asp-action="Delete" asp-route-ID="@Edu.EducationID" class="btn btn-danger">
                                <i class="bi bi-trash3-fill"></i>Delete
                            </a>

                            }

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    }
   @*  else
    {
        <p>No Avatars created yet</p>
    } *@

</div>
