@using Qumbu_Community_Health_Care_Center.Models
@using Microsoft.AspNetCore.Identity
@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "Vaccs";
}

@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Vaccine_MadicalRecord>


    <div id="MainDiv" class="border p-4">
        <div id="Header" class="bg-info">
            <h2 class="m-1 text-center text-white">VACCINATION CARD</h2>
        </div>
        <a href="javascript:window.print()" id="btnPrint" class="btn btn-info">View Report</a>
        @* <button id="btnPrint" class="btn btn-info">
            View Report
        </button> *@
        <div class="row">
            <div class="col-8">
                <h4></h4>
                <img src="~/_Images/2.png" style="width:200px" />
                <p class="mt-3">Date of Report: @ViewBag.Date</p>
                <p class="mt-3">Time of Report: @ViewBag.Time</p>
            </div>
            <div id="Information" class="col-4 justify-content-md-end">
                <h4>NURSE INFORMATION</h4>
                <p>First Name: @UserManager.GetUserAsync(User).Result.FirstName</p>
                <p>Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
                <p>Email Address: @UserManager.GetUserAsync(User).Result.Email</p>
            </div>
            </div>

            <div class="container-fluid">
             <div class="row pt-4">
         
             </div>
             <br />

            @if (Model.Count() > 0)
            {

                <table class="table table-info table-hover">

                    <thead>
                        <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            BloodPressure
                        </th>
                        <th>
                            Temperature
                        </th>
                        <th>
                            HeartRate
                        </th>
                        <th>
                            Weight
                        </th>
                        <th>
                            dose
                        </th>
                        <th>
                            Nurse
                        </th>
                        <th>
                            NextDate
                        </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var reco in Model)
                        {
                            <tr>
                            <td width="20%">@reco.Date</td>
                            <td width="20%">@reco.BloodPressure</td>
                            <td width="20%">@reco.Temperature</td>
                            <td width="20%">@reco.HeartRate</td>
                            <td width="20%">@reco.Weight</td>
                            <td width="20%">@reco.dose</td>
                            <td width="20%">@reco.Nurse</td>
                            <td width="20%">@reco.NextDate</td>


                        </tr>
                        }
                    </tbody>
                </table>

            }

    </div>
   

<script defer>
    window.onload = function(){
        Console.log("Its working");
        document.getElementById('Information').style.visibility = "hidden";

    }
    const Prntbtn = document.getElementById('btnPrint');
    Prntbtn.addEventListener("click",myPrint);

    function myPrint(){
        document.getElementById('Information').style.visibility = "visible"; 
        document.getElementById('Header').style.visibility = "hidden";
        document.getElementById('NavbarSide').style.visibility = "hidden"; 
        document.getElementById('sidebar').style.visibility = "hidden";
        Prntbtn.style.visibility = "hidden";
        window.print();
        Prntbtn.style.visibility = "visible";
        document.getElementById('Information').style.visibility = "hidden"; 
        document.getElementById('Header').style.visibility = "visible";
        document.getElementById('NavbarSide').style.visibility = "visible"; 
        document.getElementById('sidebar').style.visibility = "visible";
    }

</script>


@if (User.IsInRole("Doctor"))
{
    <div class="page-header">
<div class="row">
<div class="col-sm-12">
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="appointments.html">Appointment </a></li>
<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
<li class="breadcrumb-item active">Appointment List</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card card-table show-entire">
<div class="card-body">

<div class="page-table-header mb-2">
<div class="row align-items-center">
<div class="col">
<div class="doctor-table-blk">
<h3>Appointment</h3>
<div class="doctor-search-blk">
<div class="top-nav-search table-search-blk">
<form>
<input type="text" class="form-control" placeholder="Search here">
<a class="btn"><img src="assets/img/icons/search-normal.svg" alt></a>
</form>
</div>
<div class="add-group">
<a href="add-appointment.html" class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt></a>
<a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img src="assets/img/icons/re-fresh.svg" alt></a>
</div>
</div>
</div>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt></a>
<a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt></a>
<a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt></a>
<a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt></a>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table border-0 custom-table comman-table datatable mb-0">
<thead>
<tr>
<th>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</th>
<th>Name</th>
<th>Consulting Doctor</th>
<th>Treatment</th>
<th>Mobile</th>
<th>Email</th>
<th>Date</th>
<th>Time</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td class="profile-image"><a href="profile.html"><img width="28" height="28" src="assets/img/profiles/avatar-01.jpg" class="rounded-circle m-r-5" alt> Andrea Lalema</a></td>
<td>Dr.Bernardo James</td>
<td>Infertility</td>
<td><a href="javascript:;">+1 23 456890</a></td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f6938e979b869a93b6939b979f9ad895999b">[email&#160;protected]</a></td>
<td>01.10.2022</td>
<td>07:30</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td class="profile-image"><a href="profile.html"><img width="28" height="28" src="assets/img/profiles/avatar-02.jpg" class="rounded-circle m-r-5" alt>Smith Bruklin</a></td>
<td>Dr.William Stephin</td>
<td>Infertility</td>
<td><a href="javascript:;">+1 23 456890</a></td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="93f6ebf2fee3fff6d3f6fef2faffbdf0fcfe">[email&#160;protected]</a></td>
<td>01.10.2022</td>
<td>07:30</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td class="profile-image"><a href="profile.html"><img width="28" height="28" src="assets/img/profiles/avatar-03.jpg" class="rounded-circle m-r-5" alt>William Stephin</a></td>
<td>Dr.Galaviz Lalema</td>
<td>Cancer</td>
<td><a href="javascript:;">+1 23 456890</a></td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="afcad7cec2dfc3caefcac2cec6c381ccc0c2">[email&#160;protected]</a></td>
<td>01.10.2022</td>
<td>07:30</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td class="profile-image"><a href="profile.html"><img width="28" height="28" src="assets/img/profiles/avatar-04.jpg" class="rounded-circle m-r-5" alt> Bernardo James</a></td>
<td>Dr.Cristina Groves</td>
<td>Infertility</td>
<td><a href="javascript:;">+1 23 456890</a></td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9df8e5fcf0edf1f8ddf8f0fcf4f1b3fef2f0">[email&#160;protected]</a></td>
<td>01.10.2022</td>
<td>07:30</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td class="profile-image"><a href="profile.html"><img width="28" height="28" src="assets/img/profiles/avatar-06.jpg" class="rounded-circle m-r-5" alt>Cristina Groves</a></td>
<td>Dr.Smith Bruklin</td>
<td>Infertility</td>
<td><a href="javascript:;">+1 23 456890</a></td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d3b6abb2bea3bfb693b6beb2babffdb0bcbe">[email&#160;protected]</a></td>
<td>01.10.2022</td>
<td>07:30</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td class="profile-image"><a href="profile.html"><img width="28" height="28" src="assets/img/profiles/avatar-05.jpg" class="rounded-circle m-r-5" alt> Mark Hay Smith</a></td>
<td>Dr.Smith Bruklin</td>
<td>Prostate</td>
<td><a href="javascript:;">+1 23 456890</a></td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="97f2eff6fae7fbf2d7f2faf6fefbb9f4f8fa">[email&#160;protected]</a></td>
<td>01.10.2022</td>
<td>07:30</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td class="profile-image"><a href="profile.html"><img width="28" height="28" src="assets/img/profiles/avatar-01.jpg" class="rounded-circle m-r-5" alt> Andrea Lalema</a></td>
<td>Dr.Smith Bruklin</td>
<td>Infertility</td>
<td><a href="javascript:;">+1 23 456890</a></td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="afcad7cec2dfc3caefcac2cec6c381ccc0c2">[email&#160;protected]</a></td>
<td>01.10.2022</td>
<td>07:30</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td class="profile-image"><a href="profile.html"><img width="28" height="28" src="assets/img/profiles/avatar-02.jpg" class="rounded-circle m-r-5" alt>Smith Bruklin</a></td>
<td>Dr.Bernardo James</td>
<td>Infertility</td>
<td><a href="javascript:;">+1 23 456890</a></td>
<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="690c11080419050c290c04080005470a0604">[email&#160;protected]</a></td>
<td>01.10.2022</td>
<td>07:30</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

}


@*       @if (User.IsInRole("Patient"))
        {
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-12 col-lg-9 col-xl-7">
                            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                <div class="card-body p-4 p-md-5">
                                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">REPORTS</h3>
                                    <form>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">

                                                <div class="form-outline">
                                                    <input type="text" id="firstName" class="form-control form-control-lg" />
                                                    <label class="form-label" for="firstName">First Name</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4">

                                                <div class="form-outline">
                                                    <input type="text" id="lastName" class="form-control form-control-lg" />
                                                    <label class="form-label" for="lastName">Last Name</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 d-flex align-items-center">

                                                <div class="form-outline datepicker w-100">
                                                    <input type="text" class="form-control form-control-lg" id="birthdayDate" />
                                                    <label for="birthdayDate" class="form-label">Birthday</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4">

                                                <h6 class="mb-2 pb-1">Gender: </h6>

                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                                                           value="option1" checked />
                                                    <label class="form-check-label" for="femaleGender">Female</label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                                                           value="option2" />
                                                    <label class="form-check-label" for="maleGender">Male</label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                                                           value="option3" />
                                                    <label class="form-check-label" for="otherGender">Other</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                                    <label class="form-label" for="emailAddress">Email</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">

                                                <select class="select form-control-lg">
                                                    <option value="1" disabled>Choose option</option>
                                                    <option value="2">Subject 1</option>
                                                    <option value="3">Subject 2</option>
                                                    <option value="4">Subject 3</option>
                                                </select>
                                                <label class="form-label select-label">Choose option</label>

                                            </div>
                                        </div>

                                        <div class="mt-4 pt-2">
                                            <input class="btn btn-primary btn-lg" type="submit" value="CLOSE" />
                                        </div>
                                        <div class="mt-4 pt-2">
                                            <input class="btn btn-primary btn-lg" type="submit" value="PRINT REOPRT" />
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    }*@
