@model Qumbu_Community_Health_Care_Center.Models.Profiling
@using Microsoft.AspNetCore.Identity
@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "_CounsellorLayout";
}
<div id="Header" class="bg-info">
    <h2 class="m-1 pt-4 text-center text-white">Individual Counselling</h2>
</div>
<div class="container-fluid bg-white border p-4">
    <form method="post" asp-action="CreateRe">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-8">
                @*<h4>Report Information</h4>*@
                <img src="~/_Images/2.png" style="width:200px" />
                @*<p class="mt-3">Date of Report: @ViewBag.Date</p>*@
                @* <p class="mt-3">Time of Report: @ViewBag.Time</p>*@
            </div>
            <div id="Information" class="col-4 justify-content-md-end">
                <h4>Counsellor Information</h4>
                <p>First Name: @UserManager.GetUserAsync(User).Result.FirstName</p>
                <p>Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
                <p>Email Address: @UserManager.GetUserAsync(User).Result.Email</p>
            </div>

        </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-10">
                            <label asp-for="Background"></label>
                            <textarea class="form-control" rows="6" id="Background" name="Background"></textarea>
                            <span asp-validation-for="Background" class="text-danger"></span>
                        </div>
                        <div class="col-8">
                        <label asp-for="CounsellingPlan"></label>
                    </div>     
                    <div class="col-md-8">
                            <div class="form-group">
                                <label for="validityPeriod">(a) Counselling Approaches</label>
                                <select id="CounsellingApproach" asp-for="CounsellingApproach" class="form-control" id="validationName" required>
                                    <option value="Select" class="bg-opacity-50">Select</option>
                                    <option value="Behavior">Behavior Counselling</option>
                                    <option value="Cognitive">Cognitive Counselling</option>
                                    <option value="Educational">Educational Counselling</option>
                                    <option value="Holistic">Holistic Counselling</option>
                                    <option value="MentalHealth">Mental Health Counselling</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-10">
                        <label asp-for="Goals"></label>
                        <textarea class="form-control" rows="6" id="Goals" name="Goals"></textarea>
                        <span asp-validation-for="Goals" class="text-danger"></span>
                    </div>
                        <br />
                        <div class="col-10">
                            <label asp-for="comments"></label>
                            <textarea class="form-control" rows="6" id="comments" name="comments"></textarea>
                            <span asp-validation-for="comments" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="col-10">
                            <label asp-for="recom"></label>
                            <textarea class="form-control" rows="6" id="recom" name="recom"></textarea>
                            <span asp-validation-for="recom" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6 offset-2 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-75" value="Submit" />
                    </div>
                    <div class="col">
                        <a asp-action="CreateRe" class="btn btn-info w-75">Cancel</a>
                    </div>
                </div>
            </div>
    </form>
</div>


