@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Profiling>
@{
    Layout = "_CounsellorLayout";
}
<div id="Header" class="bg-info">
    <h2 class="m-1 pt-4 text-center text-white">Individual Counselling Records</h2>
</div>
<div class="container-fluid bg-white">
    <div class="row pt-4">
        <div class="col-6 text-right">
            <a asp-controller="Counseller" asp-action="CreateRe" class="btn btn-info">Start Counselling</a>
        </div>
        <div class="col-6 text-left">
            <a asp-controller="Counseller" asp-action="Profile" class="btn btn-info">Go Back</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table id="myTable" table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Background
                    </th>
                   @*  <th>
                        Counselling Plan
                    </th> *@
                    <th>
                        Counselling Approach
                    </th>
                    <th>
                        Goals
                    </th>
                    <th>
                        Comments
                    </th>
                    <th>
                        Recommendations
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var ind in Model)
                {
                    <tr>
                        <td width="20%">@ind.Background</td>
                       @*  <td width="20%">@ind.CounsellingPlan</td> *@
                        <td width="20%">@ind.CounsellingApproach</td>
                        <td width="20%">@ind.Goals</td> 
                        <td width="20%">@ind.comments</td> 
                        <td width="20%">@ind.recom</td>
                       @* <td>
                            <div class="w-50 btn-group" role="group">
                                <a asp-controller="Counseller" asp-action="CreatePat" asp-route-ID="@app.ProfileID" class="btn btn-info mx-1">View</a>
                            </div>
                        </td>*@
                    </tr>


                }
            </tbody>
        </table>

    }
    else
    {
        <p>No counselling history added yet</p>
    }

</div>





