@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Profiling>
@{
    Layout = "_CounsellorLayout";
}
<div class="mt-2 p-2 bg-white text-center text-white-50 rounded">
    <h2>Counselling Records</h2>
</div>
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-6 text-right">
            <a asp-controller="Counseller" asp-action="CreateRe" class="btn btn-info">Start Counselling</a>
        </div>
        <div class="col-6 text-left">
            <a asp-controller="Counseller" asp-action="Profile" class="btn btn-info">Go Back</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Background
                    </th>
                    <th>
                        CounsellingPlan
                    </th>
                    <th>
                        CounsellingApproach
                    </th>
                    <th>
                        Goals
                    </th>
                    <th>
                        Comments
                    </th>
                    <th>
                        recom
                    </th>

                </tr>
            </thead>

            <tbody>
                @foreach (var app in Model)
                {
                    <tr>
                        <td width="20%">@app.Background</td>
                        <td width="20%">@app.CounsellingPlan</td>
                        <td width="20%">@app.CounsellingApproach</td>
                        <td width="20%">@app.Goals</td> 
                        <td width="20%">@app.comments</td> 
                        <td width="20%">@app.recom</td>
                        <td>
                            <div class="w-50 btn-group" role="group">
                                <a asp-controller="Counseller" asp-action="CreatePat" asp-route-ID="@app.ProfileID" class="btn btn-info mx-1">View</a>
                            </div>
                        </td>
                    </tr>


                }
            </tbody>
        </table>

    }
    else
    {
        <p>No counselling history added yet</p>
    }

</div>





