@{
    ViewData["Title"] = "ListFamilyRegNurse";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}
@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.FamilyReg>

<div class="container p-3">
<div class="row pt-4">
    <div class="mt-2 p-2 bg-info text-black rounded">
        <h2 class="text-center">list of Patient Contraceptives </h2>
    </div>
    <br/>
   
</div>
<br />

@if (Model.Count() > 0)
{

        <table class="table  table-active table-bordered table-striped" style="width:100%">
        <thead>
            <tr>

                <th>
                   1.When was the last time you enganged in sexual intercourse?"
                </th>
                <th>
                   2.When was the last time you had your periods?
                </th>
                <th>
                   3.Do you have a child?
                </th>
                <th>
                   4.Have experince any morning sickness?
                </th>
                <th>
                   5.do you have allergies?
                </th>
                 <th>
                   6.are you taking any medication?
                 </th>
                  <th>
                     7.Have you ever used any contraceptives?
                  </th>
                  <th>
                      8.Choose any birth Control of your choice
                  </th>




            </tr>
        </thead>

        <tbody>
            @foreach (var fed in Model)
            {
                <tr>

                        <td width="20%">@fed.intercourse</td>
                        <td width="20%">@fed.period</td>
                        <td width="10%">@fed.child</td>
                        <td width="10%">@fed.experience</td>
                        <td width="10%">@fed.allaegies</td>
                        <td width="10%">@fed.medication</td>
                        <td width="10%">@fed.contraceptives</td>
                        <td width="30%">@fed.type</td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="FamalyPlan" asp-action="updateAppointment" asp-route-ID="@fed.FamilyRegId" class="btn btn-info">Approve</a>
                            
                        </div>
                    </td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                               
                                <a asp-controller="FamalyPlan" asp-action="DeleteAppointment" asp-route-ID="@fed.FamilyRegId" class="btn btn-danger ">Reject</a>
                            </div>
                        </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-6 text-right  d-grid gap-2 d-md-flex justify-content-xxl-end">
            <a asp-controller="FamilyPlan" asp-action="CreateFamilyReg" class="btn btn-info">Back</a>
        </div>

}
else
{
    <p>No Appointments added yet</p>
}

</div>
