@{
    ViewData["Title"] = "ListFamilyRegNurse";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}
@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.FamilyReg>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"></h2>
        </div>

    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table class="table  table-active table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                       Status
                    </th>
                    <th>
                        Birth Control Method
                    </th>
                    <th>
                        
                    </th>


                </tr>
            </thead>

            <tbody>
                @foreach (var fed in Model)
                {
                    <tr>
                        <td width="20%">@fed.MainUser.FirstName @fed.MainUser.LastName</td>
                        <td width="20%">@fed.Date</td>
                        <td width="20%">@fed.Status</td>
                        <td width="20%">
                            @if (TempData["Result"] != null)
                            {
                                
                            }
                        </td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="FamilyPlan" asp-action="updateFamilyReg" asp-route-ID="@fed.FamilyRegId" class="btn btn-info 300 mx-1"></a>
                            </div>
                        </td>
                        

                    </tr>
                }
            </tbody>
        </table>
        <div class="col-6 text-right  d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-controller="FamilyPlan" asp-action="CreateFamilyReg" class="btn btn-outline-info">Back</a>
        </div>

    }
    else
    {
        <p>No Chat added yet</p>
    }

</div>
<script src="~/js/site.js"></script>

