@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.FamilyReg>
@{
    ViewData["Title"] = "ViewFamilyReg";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}
@if (TempData["Result"] != null)
{
    <div id="myModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title">Screening Result</h3>
                    <button type="button" id="close" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <img src="~/_Images/ContraceptiveDash.png" style="width: 79px" />
                    <h4>@TempData["Result"]</h4>
                </div>
            </div>
        </div>
    </div>
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"></h2>
        </div>
       
    </div>
    <br />

    @if (Model.Count() > 0)
    {
         
        <table class="table  table-active table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        1.When was the last time you enganged in sexual intercourse?"
                    </th>
                    <th>
                        2.When was the last time you had your periods?
                    </th>
                    <th>
                        3.Do you have a child?
                    </th>
                    <th>
                        4.Have experince any morning sickness?
                    </th>
                    <th>
                        5.do you have allergies?
                    </th>
                    <th>
                        6.are you taking any medication?
                    </th>
                    <th>
                        7.Have you ever used any contraceptives?
                    </th>
                    <th>
                        8.Choose any birth Control of your choice
                    </th>
                    <th>
                        9.Choose any birth Control of your choice
                    </th>
                    <th>
                        10.Choose any birth Control of your choice
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var fed in Model)
                {
                    <tr>
                        <td width="20%">@fed.MainUser.FirstName</td>
                        <td width="20%">@fed.Date</td>
                        <td width="20%">@fed.intercourse</td>
                        <td width="20%">@fed.period</td>
                        <td width="10%">@fed.child</td>
                        <td width="10%">@fed.experience</td>
                        <td width="10%">@fed.allaegies</td>
                        <td width="10%">@fed.medication</td>
                        <td width="10%">@fed.contraceptives</td>
                        <td width="30%">@fed.condom</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col-6 text-right  d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-controller="FamilyPlan" asp-action="CreateFamilyReg" class="btn btn-outline-info">Back</a>
        </div>

    }
    else
    {
        <p>No Chat added yet</p>
    }

</div>

