@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.FamilyReg>
@{
    ViewData["Title"] = "ViewFamilyReg";
    Layout = "~/Views/Shared/_FamilyPlanLayout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of Appointments</h2>
        </div>
        <div class="col-6 text-right  d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-controller="FamilyPlan" asp-action="CreateFamilyReg" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table class="table  table-active table-bordered table-striped" style="width:100%">
            <thead>
                <tr>

                    <th>
                        Answer
                    </th>
                    <th>
                        Answer
                    </th>
                    <th>
                        Answer
                    </th>
                    <th>
                       Answer
                    </th>
                    <th>
                       Answer
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var fed in Model)
                {
                    <tr>

                        <td width="20%">@fed.Description</td>
                        <td width="20%">@fed.Descriptions</td>
                        <td width="10%">@fed.experience</td>
                        <td width="10%">@fed.expectection</td>
                        <td width="30%">@fed.type</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No Appointments added yet</p>
    }

</div>

