@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data;

@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/_Walk-in-Layout.cshtml";
}
<div class="container p-3">
    
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of Patients</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Add_New_Patient">Create New Patient</a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                    
                <th>
                    Tittle
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    ID Number
                </th>
                <th>
                    Cell number
                </th>
                   
            </tr>
        </thead>

        <tbody>
            @foreach (ApplicationUser item in ViewBag.List)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tittle)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td> *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
`   </table>
   

</div>


