@model Qumbu_Community_Health_Care_Center.Models.PrenatalEducation;

@{
    Layout = "_PreNatalCareLayout";
}

<div class="container">
    <br/>
    <h1 class="display-4">Prenatal Education Details</h1>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/UploadedImages/0441c539-aace-4c57-857f-d1f7c8132cd8_Prenatal.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/UploadedImages/0bb8c3f2-0d9f-4993-b640-06ed23ad801e LOGO.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/UploadedImages/42ca6610-44e4-4642-9edf-040876a7712d 27281-001.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                @*<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>*@
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="label label-primary">By:</span>
                    <span class="monospaced">@Model.Author</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="@Model.Description">

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary">
                        Read now
                    </button>
                </div>
            </div>

            <hr />

            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Category -</span>@Model.Category</li>
                <li class="list-group-item"><span class="font-weight-bold">Publish Date -</span>@Model.PublishDate</li>
@*                <li class="list-group-item"><span class="font-weight-bold">Category -</span></li>
*@            </ul>
                  <br/>
                <div>
                    <div class="w-20 btn-group" role="group">
                        <a asp-controller="PrenatalCare" asp-action="UpdatePrenatalEducation" asp-route-ID="@Model.Id" class="btn btn-primary mx-1"><i class="bi bi-pencil-square"></i>Edit</a>
                        <a asp-controller="PrenatalCare" asp-action="DeletePrenatalEducation" asp-route-ID="@Model.Id" class="btn btn-danger mx-1"><i class="bi bi-trash3"></i>Delete</a>
                    </div>
                </div>
        </div>
    </div>
</div>

