@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Medical_File>
@using Qumbu_Community_Health_Care_Center.Models
@using Microsoft.AspNetCore.Identity
@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "My_Medical_File";
    Layout = "~/Views/Shared/_Walk-in-Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <h2>List of medical files</h2>
    <div class="text-start">
        <button class=" btn btn-primary p-b-2">
            <a asp-controller="Medical_File" asp-action="Create_File" class="text-white">Create File</a>
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    File Number
                </th>
                <th>
                    Patient Full Name
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.IDNumber)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.DateofBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
               @*  <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th> *@
               <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                @*
            <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.postalCode)
                </th> *@
               @*  <th>
                    @Html.DisplayNameFor(model => model.NextfoKin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kinCell)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Relationship)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allergies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surgery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.extraNotes)
                </th> *@
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fileId)
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.PatientID)
                    </td> *@
                    <td>
                        @foreach (ApplicationUser user in ViewBag.Patient)
                        {
                            <option value="@user.Id">@user.FirstName @user.LastName</option>
                        }
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.IDNumber)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.DateofBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                   @*  <td>
                        @Html.DisplayFor(modelItem => item.Province)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.postalCode)
                    </td> *@
                    @* <td>
                        @Html.DisplayFor(modelItem => item.NextfoKin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kinCell)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Relationship)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BloodType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allergies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surgery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.extraNotes)
                    </td> *@
                    @* <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td> *@
             
                    <td >
                        <button class="btn-outline-primary">
                            <a asp-controller="Medical_File" asp-action="MyFile" >View Report</a>
                        </button>
                        @* <button class="btn-outline-primary">
                            <a asp-controller="" asp-action="Details" asp-route-id="@item.PatientID">Delay</a>
                        </button>
                        <button class="btn-outline-primary">
                            <a asp-controller="" asp-action="Delete" asp-route-id="@item.PatientID">Delete</a>
                        </button> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (User.IsInRole("Patient"))
{
    <h2>My medical file</h2>
    <div class="text-start">
        <button  class=" btn btn-primary p-b-2">
            <a asp-controller="Medical_File" asp-action="Create_File" class="text-white">Create File</a>
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    File Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateofBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.postalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NextfoKin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kinCell)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Relationship)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allergies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surgery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.extraNotes)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
    
}
@if (User.IsInRole("Nurse"))
{
    <h2>List of medical files</h2>
    <div class="text-start">
        <button class=" btn btn-primary p-b-2">
            <a asp-controller="Medical_File" asp-action="Create_File" class="text-white">Create File</a>
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    File Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateofBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.postalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NextfoKin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kinCell)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Relationship)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allergies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surgery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.extraNotes)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fileId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mainUser.FirstName)
                        @Html.DisplayFor(modelItem => item.mainUser.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateofBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Province)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.postalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextfoKin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kinCell)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Relationship)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BloodType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allergies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surgery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.extraNotes)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}







