@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Appointment>

@{
    ViewData["Title"] = "All_Appointments";
    Layout = "~/Views/Shared/_Walk-in-Layout.cshtml";
}

<div id="Header" class="bg-primary">
    <h2 class="m-2 text-center text-white">All Patients Appointments</h2>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Patient Information
            </th>
            <th>
                Apppointment Day
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
                <td>
                    @item.MainUser.FirstName 
                    @item.MainUser.LastName
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Date_Time)
            </td>
            @if(item.Status == "New")
            {
                 <td>
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Accept</button>
                <a asp-action="Details" asp-route-id="@item.AppointmentID">Decline</a> 
                <a asp-action="Delete" asp-route-id="@item.AppointmentID">Postpone</a>
            </td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Launch demo modal
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
            } 
            @if(item.Status == "Accepted")
            {
                 <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentID">Postpone</a> 
                <a asp-action="Details" asp-route-id="@item.AppointmentID">Cancel</a> 
               @* <a asp-action="Delete" asp-route-id="@item.AppointmentID">View</a>*@
            </td>
            }
            @if(item.Status == "Done")
            {
                 <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentID">Cancel</a> 
                <a asp-action="Details" asp-route-id="@item.AppointmentID">View</a> 
            </td>
            }
           
        </tr>
}
    </tbody>
</table>
