@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Appointment>
@{
    ViewData["Title"] = "Counselling";
    Layout = "~/Views/Shared/_CounsellorLayout.cshtml";
}

<h1>All_Appointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Patient Information
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MainUser.FirstName @item.MainUser.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purpose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if(item.Status == "New")
                    {
                        <a asp-action="Edit" asp-route-id="@item.AppointmentID">Accept</a>
                    }
                    
                    <a asp-action="Details" asp-route-id="@item.AppointmentID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppointmentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
