@model IEnumerable<Qumbu_Community_Health_Care_Center.Models.Appointment>
@{
    Layout = "_Landing2";
}
<div class="mt-4 p-4 bg-white text-center text-white-50 rounded">
    <h2>List of Appointments</h2>
</div>
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-6 text-right">
            <a asp-controller="Appointments" asp-action="Create" class="btn btn-info">Create New Appointment</a>
        </div>
        <div class="col-6 text-left">
            <a asp-controller="Appointments" asp-action="Create" class="btn btn-info">Go Back</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        CreatedAt
                    </th>
                    <th>
                        Purpose
                    </th>
                    <th>
                        MainUser
                    </th>
                    

                </tr>
            </thead>

            <tbody>
                @foreach (var app in Model)
                {
                    <tr>
                        <td width="20%">@app.CreatedAt</td>
                        <td width="20%">@app.Purpose</td>
                        <td width="20%">@app.MainUser</td>
                        @*<td width="20%">@app.Departments</td*@>
                        @*<td>
                            <div class="w-50 btn-group" role="group">
                                <a asp-controller="Counseller" asp-action="CreatePat" asp-route-ID="@app.AppointmentID" class="btn btn-info mx-1">View</a>
                            </div>
                        </td>*@
                    </tr>


                }
            </tbody>
        </table>

    }
    else
    {
        <p>No Appointments added yet</p>
    }

</div>







