@model Qumbu_Community_Health_Care_Center.Models.Queue
@using Qumbu_Community_Health_Care_Center.Models
@using Microsoft.AspNetCore.Identity
@using Qumbu_Community_Health_Care_Center.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Queue";
    Layout = "~/Views/Shared/_Walk-in-Layout.cshtml";
}

<div>
    <h4 class="text-start bg-primary p-2">
        Queue Patient
    </h4>
</div>
<hr />
<div class="row">

    <div class="col-md-6">
        <form asp-controller="Appointments" asp-action="Queue">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PatientID" class="control-label">Patient Name</label>
                <select asp-for="PatientID" class="form-control">
                    @foreach (ApplicationUser user in ViewBag.Patient)
                    {
                        <option value="@user.Id">@user.FirstName @user.LastName</option>
                    }
                </select>
                <span asp-validation-for="PatientID" class="text-danger mt-2"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delay" class="control-label"></label>
                <input asp-for="Delay" class="form-control" />
                <span asp-validation-for="Delay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <select asp-for="Condition" class="form-control">
                    <option value="Urgent">Urgent</option>
                    <option value="Normal">Normal</option>
                </select>
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group text-end">
                <input type="submit" value="Create" class="btn btn-primary p-1" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead class="table-primary">
            <tr>
                <th>
                    Patient Name
                </th>
                <th>
                    Delay Time
                </th>
                <th>
                    Condition
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (Queue que in ViewBag.queue)
            {
                <tr>
                    <td>
                        @foreach (ApplicationUser user in ViewBag.Patient)
                        {
                            <option value="@user.Id">@user.FirstName @user.LastName</option>
                        }
                    </td>
                    <td width="20%">@que.Delay</td>
                    <td width="20%">@que.Condition</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

